<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questions</title>
</head>
<body>

<h2>Question List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>Answer</th>
    </tr>

    <tr th:each="q : ${questions}">
        <td th:text="${q.id}"></td>
        <td th:text="${q.questionText}"></td>
        <td th:text="${q.optionA}"></td>
        <td th:text="${q.optionB}"></td>
        <td th:text="${q.optionC}"></td>
        <td th:text="${q.optionD}"></td>
        <td th:text="${q.correctAnswer}"></td>
    </tr>

</table>

</body>
</html>
