<!DOCTYPE html>
<html>
<head>
    <title>Online Quiz</title>
</head>
<body>

<h2>Online Quiz</h2>

<p><b>Question:</b> What is Java?</p>

<form>
    <input type="radio" name="ans"> Programming Language <br>
    <input type="radio" name="ans"> Operating System <br>
    <input type="radio" name="ans"> Database <br>
    <input type="radio" name="ans"> Browser <br><br>

    <button type="submit">Submit</button>
</form>

<script>
    // Fetch /questions API and render options
</script>


</body>
</html>
